DATABASE_URL="postgresql://gamezone:gamezone@localhost:5433/gamezone?schema=public"
PORT=3000
JWT_SECRET="cambia-esto-por-un-secreto-largo"
JWT_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:5173"
PUBLIC_URL="http://localhost:3000"
UPLOAD_DIR="uploads"

GOOGLE_CLIENT_ID=""

PAYMENTS_PROVIDER="mock"
PREMIUM_PRICE_CENTS=499
PREMIUM_CURRENCY="USD"
STRIPE_SECRET_KEY=""
STRIPE_PRICE_ID=""
STRIPE_WEBHOOK_SECRET=""

TURN_URL=""
TURN_USERNAME=""
TURN_CREDENTIAL=""
